@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo-npm {
    width: 70px;
    margin-right: 1rem;
  }

  .npm-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    border-bottom: 1px solid lightgray;
  }

  .search {
    width: 20px;
    margin-left: 1rem;
    margin-right: 0;
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  #search-packages {
    width: 1200px;
    font-size: 15px;
    padding: 8px;
    margin: 10px;
    background-color: rgba(0,0,0,0.05);
    border: 0px;
  }

  #search {
    background-color: #fb3e44;
    color: white;
    border: 0px solid;
    padding: 10px 15px;
    border-radius: 2px;
    font-family: 'Poppins';
    margin-right: 20px;
  }

  .join-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    border-radius: 2px;
  }
  
  #join {
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 2px;
    font-family: 'Poppins';
    font-weight: bold;
  }

  #log-in {
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 2px;
    font-family: 'Poppins';
    font-weight: bold;
  }

  #headline {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .headline {
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .headline h1 {
    width: 1050px;
    font-size: 80px;
    font-weight: bold;
    margin: 0px;
  }

  .headline p {
    font-size: 20px;
  }

  #see-plans {
    font-family: "Poppins";
    font-size: 20px;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    color: white;
    padding: 15px 60px;
    border: none;
    margin: 1rem;
  }

  #join-free {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    padding: 15px 60px;
    border: none;
    margin: 1rem;
  }

  #rationale {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
  }
  
  .rationale-image {
    width: 50%; 
    max-width: 300px; 
    height: auto; 
    margin-bottom: 20px; 
  }
  
  #rationale h2 {
    width: 1050px;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  #rationale-content {
    width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  #features {
    display: center;
  }
  
  #features div {
    justify-content: center;
    align-items: center;
  }

  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch; 
    align-content: center;
    margin: 100px 90px 100px 100px;
  }

  .features div {
    padding: 0px 20px;
    width: 250px;
    margin: 25px;
  }

  #features img {
    width: 40px;
    margin-right: 1rem;
  }

  #features h3 {
    color: #ED1C24;
  }

  #create-org {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    border: none;
    padding: 20px 160px;
    border-radius: 2px;
    margin-left: 730px;
    margin-bottom: 50px;
  } 